<div class="container">
  <% if !@access_token.present? %>
    <div class="page-header">
      <h1>Please first login to
    <%= link_to "Instagram", "https://api.instagram.com/oauth/authorize/?client_id=aadaebcf044f4c9082dc0cfbbdeecf8b&redirect_uri=http://localhost:3013/auth/instagram/callback&response_type=code" %>
    </h1>
    </div>
  <% end %>

  <% if @access_token.present? %>
    <div class="page-header">
      <div class="pull-right">
        <%= form_tag '/', method: :get %>
        <%= label_tag "Username" %>
        <%= text_field_tag (:user_id) %>
        <%= submit_tag 'Get photos' %>
      </div>
      <h1>Your feed</h1>
    </div>

    <% @my_feed.each do |photo| %>
      <p><%= image_tag "#{photo['images']['low_resolution']['url']}" %></p>
      <p>
        Posted by: <%= photo["user"]["username"] %>
        <%= image_tag "#{photo['user']['profile_picture']}", height: '50' %>
      </p>
      <p>Filter: <%= photo["filter"] %> </p>
      <p>Likes: <%= photo["likes"]["count"] %> </p>
      <p>Description: <%= photo["caption"]["text"] %> </p>
      <!-- <%= photo %> -->
      <hr>
    <% end %>
<% end %>
</div>
